@{
    ViewBag.Title = "Home Page";
}
    <h2>Home</h2>
    <div class="form-group">
        @if (User.IsInRole("ADMIN"))
        {
            @Html.ActionLink("List TrainingStaff", "ListTrainingStaff", "Admins", null, new { @class = "btn btn-primary" })

            @Html.ActionLink("List Trainer Account", "ListTrainer", "Admins", null, new { @class = "btn btn-primary" })

        }
        @if (User.IsInRole("TRAINER"))
        {
            @Html.ActionLink("View Profile", "ViewProfile", "Trainers", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Update Profile", "UpdateProfile", "Trainers", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("View Courses Are Assigned", "ViewAssignedCourse", "Trainers", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Change Password", "ChangePassword", "Trainers", null, new { @class = "btn btn-primary" })

        }
        @if (User.IsInRole("TRAINEE"))
        {
            @Html.ActionLink("View Profile", "ViewProfile", "Trainees", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Change Password", "ChangePassword", "Trainees", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("View Courses", "ViewCourse", "Trainees", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("View Courses Are Assigned", "ViewAssignedCourse", "Trainees", null, new { @class = "btn btn-primary" })
        }
        @if (User.IsInRole("STAFF"))
        {
            @Html.ActionLink("Manage Category", "ListCategory", "TrainingStaffs", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Manage Course", "ListCourse", "TrainingStaffs", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Manage Account", "ManageAccount", "TrainingStaffs", null, new { @class = "btn btn-primary" })
        }
    </div>

