@model AppDev_MCA.Models.TrainerUser
@{
    ViewBag.Title = "ViewProfile";
}

<h2>ViewProfile</h2>
@Html.ActionLink("Back to Home", "Index", "Trainers",
    null,
    new { @class = "btn btn-primary" })
<ul>
    <li>E-Mail: @Model.UserName</li>
    <li>FullName: @Model.FullName</li>
    <li>Phone Number: @Model.Telephone</li>
    <li>Working Place: @Model.WorkingPlace</li>
    <li>Type: @Model.type</li>
    
</ul>